<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Consider removing CHANGE_NETWORK_STATE if not strictly necessary -->
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE"
        tools:node="remove" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".WareHouseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeTimer"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".landing.BarCodeActivity"
            android:exported="false"
            android:label="@string/title_activity_bar_code"
            android:theme="@style/Theme.ComposeTimer" />
        <!-- Activities -->
        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ComposeTimer" />
        <activity
            android:name=".home.LandingActivity"
            android:exported="false"
            android:label="@string/title_activity_landing"
            android:theme="@style/Theme.ComposeTimer" />
        <activity
            android:name=".termsAndConditions.TermsAndConditionsView"
            android:exported="false"
            android:label="@string/terms_and_conditions_label"
            android:theme="@style/Theme.ComposeTimer" />
        <activity
            android:name=".splash.SplashActivityView"
            android:exported="true"
            android:theme="@style/Theme.ComposeTimer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>